/* 	The CSS below is applied on all pages of the magazine.  
*  	Simply set the path to background image on each page.CSS like so: 
*
*	Open `./manuscript/page-1/style.css` and paste just one line of code:
*
*		body{
*			background-image: url(path/to/your/magazine/assets/images/page-1-(1115x1143-pixels)-image-file.jpg); 
*		}
*
*	to render the background-image specific to page number 1. And so on. A more detailed template without using magazine images can be developed separately. Contribution is invited!
*
*/

html,
body {
  background-color: #fff;
  background-image: url(https://raw.githubusercontent.com/marvindanig/what-is-covid19/master/assets/images/virus-repeator.jpg);
  background-repeat: round;
  margin: 0 0;
  overflow: hidden;
  color: #000;
  height: 100vh;
  width: 100vw;
  font-family: 'EB Garamond', serif;
  font-style: normal;
  font-synthesis: none;
  font-stretch: ultra-condensed;
  font-variant: no-common-ligatures proportional-nums slashed-zero;
  font-size: 4vw;
  line-height: calc(4vw * 1.50);
  font-kerning: normal;
  text-rendering: geometricPrecision;
}

h1,
h2,
h3,
h4,
h5 {
  width: 100%;
  text-align: center;
  line-height: calc(2 * 4vw * 1.50);
}

h5,
h6 {
  line-height: calc(1 * 4vw * 1.50);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Berkshire Swash', cursive;
  margin: 0 0;
  padding: 0;
  color: #000;
  font-weight: 100;
}

h1 {
  font-size: 8vw;
}

h2 {
  font-size: 6vw;
}

h3 {
  font-size: 5vw;
}

h4 {
  font-size: 4vw;
}

h5 {
  font-size: 4vw;
}

h6 {
  font-size: 4vw;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  display:block;
  margin: calc(1/2 * 4vw * 1.50) auto;

}

a {
  color: #0077ff;
  outline: 0 none;
  text-decoration: none;
}

a:focus,
a:active,
a:hover {
  outline: 0 none;
  color: #070;
}

a:active {
  text-shadow: 0 0 2px #fff;
}

p {
  text-indent: 5vw;
  margin: 0 0 0 0;
}

p.start-chapter {
  text-indent: 0;
  margin: calc(5 * 4vw * 1.50 - 2px) auto 0;
}

p.start-chapter:first-letter {
  display: inline-block;
  margin: 0 1vw 0 0;
  font-size: calc(3 * 4vw); /* three times normal size */
  line-height: calc(2 * 4vw * 1.50 * 0.95);
  font-family: 'Berkshire Swash', cursive;
}


blockquote {
  text-align: center;
  font-style: italic;
  font-size: 80%;
  background-color: rgb(240, 234, 224);
  position: relative;
  quotes: "\201C""\201D""\2018""\2019";
  margin: calc( 1/2 * (150vh *(1115/1443))/100 * 7/5) auto;
  margin: calc( 1/2 * 4vw * 1.50) 0;
  margin: 0 0;
  display: inline-block;
  width: 100%;
}

blockquote p, blockquote em {
  margin: 0 auto !important;
}

pre,
code {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'EB Garamond', serif;
  font-style: normal;
  font-synthesis: none;
  font-stretch: ultra-condensed;
  font-variant: no-common-ligatures proportional-nums slashed-zero;
  font-style: italic;
  font-size: 80%;
  line-height: calc(4vw * 1.50);
  font-kerning: normal;
  text-rendering: geometricPrecision;
  background-color: rgb(240, 234, 224);
}

ol {
  margin: calc((4vw * 1.50)/2) 5vw;
  padding: 0;
  list-style-type: none;
  counter-reset: step-counter calc(var(--start) - 1);
}

ol li {
  counter-increment: step-counter;
}

ol li::before {
  content: counter(step-counter) ". ";
  margin-right: 1vw;
  color: black;
  font-weight: bold;
  padding: 0.3vw 0.8vw 0.3vw 0;
}

ol li.split-li {}

ol li.split-li::before {
  content: '';
  margin-right: -0.8vw;
  background-color: rgba(255, 255, 255, 1);
  color: black;
  font-weight: bold;
  padding: 0.3vw 0.8vw 0.3vw 0;
}

ul {
  margin: 0 0 0 5vw;
  padding: 0;
  list-style: none;
}

ul li {
  margin: 0;
  padding: 0;
}

hr.section {
  border: 0;
  text-align: center;
  height: calc(4vw * 1.50);
  /* Take a break of two lines only. */
  margin: calc((4vw * 1.50)/2) 0;
}

hr.section::after {
  content: "";
}

hr.section::before {
  content: "❦";
  color: black;
}

hr.chapter {
  border: 0;
  text-align: center;
  height: calc(4vw * 1.50);
  /* Take a break of two lines only. */
  margin: calc((4vw * 1.50)/2) 0;
}

hr.chapter::after {
  content: " ";
}

hr.chapter::before {
  content: "❦";
  color: black;
}

hr {
  border: 0;
  text-align: center;
  height: calc(4vw * 1.50);
  /* Take a break of two lines only. */
  margin: calc((4vw * 1.50)/2) 0;
}

hr::after {
  content: "";
}

hr::before {
  content: "❦";
  color: black;
}

/* Clearfix*/
.group:before, .group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}


/* Page specific wrapper classes. */

.leaf {
  height: 100%;
  height: 100vh;
  width: 100%;
  width: 100vw;
  margin: auto;
}

.inner {
  margin: calc((100vh - (17 * (4vw * 1.5) + 4vw))/2) auto;
  width: 85vw;
  height: calc(17 * (4vw * 1.5) + 4vw);
  max-height: calc(17 * (4vw * 1.5) + 4vw);
  break-after: right;
  display:inline-block;
  /* background: aliceblue; */  /* enable to see the maximum staging area */
}

.flex {
  display: -webkit-box;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.justify {
  text-align: justify;
}


/* Helper classes */

p.no-indent {
  text-indent: 0;
  /* Continue line on a new page with break on the previous page. */
}

p.stretch-last-line {
  text-align-last: justify;
  /* Not supported on Safari */
}

p.squeeze-para {
  letter-spacing: -0.5px;
  /* Handle orphans and widows manually */
}

p.stretch-para {
  letter-spacing: 0.5px;
  /* Handle orphans and widows manually */
}

.uppercase {
  text-transform: uppercase;
}

.pad-vertically {
  padding: calc(4vw * 1) 0;
}

.center {
  text-align: center;
  margin: inherit auto;
}

.small {
  font-size: 80%;
}

/* Accessibility specific media queries go below. */

/* 1. Dark mode (or light) depending on requirement. */
@media screen and (prefers-color-scheme: dark) {
	body {
			background-color: #343434;
			color: #fff;
    }
    h1, h2, h3, h4, h5, h6, p {
        color: white;
    }
}

 /* 2. Override animations for users with motion sickness or other vestibular disorders. */
@media (prefers-reduced-motion: reduce) {
	* {
			animation-duration: 0.01ms !important;
			animation-iteration-count: 1 !important;
			transition-duration: 0.01ms !important;
			scroll-behavior: auto !important;
	}
}

/* 3. Acquired notched space and make sure iOS Safari uses only the available vertical height (100vh). */
@supports(padding:max(0px)) {
	body, header, footer {
		padding-left: min(0vmin, env(safe-area-inset-left));
		padding-right: min(0vmin, env(safe-area-inset-right));
	}
	body {
		min-height: -webkit-fill-available;
	}
}
